langchain
langchain-core
langchain-community

langchain-openai
langchain-google-genai
langchain-mistralai

openai
groq
google-generativeai
mistralai

python-dotenv

streamlit

langchain_nvidia_ai_endpoints